<footer class="container-fluid mt-5">
    <hr>
    <div class ="footer-left">
        <a class="lien-community" href="/"><p>Mentions légales</p></a>
        <a class="lien-about" href="about_us.html"><p>Qui somme-nous ?</p></a>
        <a class="lien-contact" href="contact"><p>Contact</p></a>
    </div>      
</footer>
